<div class="detail">

    <!-- ข้อมูล -->
    <div class="info-grid">
        <div class="item">
            <div class="label">Role</div>
            <div class="value">{{ object.role }}</div>
        </div>

         <div class="item">
            <div class="label">Full Name</div>
            <div class="value">{{ object.name }}</div>
        </div>

         <div class="item">
            <div class="label">Phone Number</div>
            <div class="value">{{ object.phone }}</div>
        </div>
    </div>

</div>