<div class="detail">

    <!-- ข้อมูล -->
    <div class="info-grid">
        <div class="item">
            <div class="label">Payment Date</div>
            <div class="value">{{ object.payment_date }}</div>
        </div>

        <div class="item">
            <div class="label">Reference Number</div>
            <div class="value">{{ object.reference_number }}</div>
        </div>

        <div class="item">
            <div class="label">Order ID</div>
            <div class="value">{{ object.sales_order }}</div>
        </div>

        <div class="item">
            <div class="label">Status</div>
            <div class="value">{{ object.status }}</div>
        </div>
    </div>



</div>