{% load static %}

<div class="{{ model_name }}-detail">

    <!-- รูป -->
    <div class="image-box">
        {% if object.image %}
            <img src="{{ object.image.url }}">
        {% else %}
            <p>No image</p>
        {% endif %}
    </div>

    <!-- ข้อมูล -->
    <div class="info-grid">

        <div class="item">
            <div class="label">Product ID</div>
            <div class="value">{{ object.product_id }}</div>
        </div>

        <div class="item">
            <div class="label">Supplier ID</div>
            <div class="value">{{ object.supplier_id }}</div>
        </div>

        <div class="item">
            <div class="label">Dimension</div>
            <div class="value">{{ object.width }} x {{ object.length }} x {{ object.height }}</div>
        </div>

        <div class="item">
            <div class="label">Product Name</div>
            <div class="value">{{ object.product_name }}</div>
        </div>

        <div class="item">
            <div class="label">Warehouse</div>
            <div class="value">{{ object.warehouse }}</div>
        </div>

        <div class="item">
            <div class="label">Color</div>
            <div class="value">{{ object.color }}</div>
        </div>

        <div class="item">
            <div class="label">Category</div>
            <div class="value">{{ object.category }}</div>
        </div>

        <div class="item">
            <div class="label">Price</div>
            <div class="value">{{ object.price }}</div>
        </div>

        <div class="item">
            <div class="label">Quantity</div>
            <div class="value">{{ object.quantity }}</div>
        </div>

    </div>
</div>