<div class="detail">

    <!-- ข้อมูล -->
    <div class="info-grid">

        <div class="item">
            <div class="label">Purchase Ordered Date</div>
            <div class="value">{{ object.purchase_order_id }}</div>
        </div>

        <div class="item">
            <div class="label">Purchase Order ID</div>
            <div class="value">{{ object.supplier_id }}</div>
        </div>

        <div class="item">
            <div class="label">Supplier ID</div>
            <div class="value">{{ object.supplier_id }}</div>
        </div>

        <div class="item">
            <div class="label">Product Name</div>
            <div class="value">{{ object.product_name }}</div>
        </div>

        <div class="item">
            <div class="label">Quantity</div>
            <div class="value">{{ object.quantity }}</div>
        </div>

        <div class="item">
            <div class="label">Status</div>
            <div class="value">{{ object.status }}</div>
        </div>

    </div>

</div>