.table-container{
    margin-top: 30px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    font-weight: 500;
}

.table-header{
    padding: 25px;
    border: 1px solid #EAECF0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 70px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.table-search{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
}

.table-search input{
    width: 100%;
    height: 45px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
}

.table-search i{
    position: absolute;
    padding: 5px 10px;
    color: #667085;
}

.table-button{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 45px;
    background-color: #F297A0;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}

.table-button ion-icon {
    color: white;
    background-color: #F297A0;
    border: 2px solid white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.table-wrapper {
    overflow-x: auto;
}

.table {
    width: 100%;
    border: 1px solid #EAECF0;
    border-spacing: 0;
    overflow: hidden;
    background: white;
    min-width: 700px;
}

.table th {
    text-align: left;
    font-size: 12px;
    height: 45px;
    background-color: #F9FAFB;
    color: #667085;
}

.table td {
    font-size: 14px;
    height: 60px;
    color: #101828;
    font-weight: 500;
}

.table th, .table td {
    border-bottom: 1px solid #EAECF0;
    padding: 10px;
}

.table th:first-child,
.table td:first-child {
    padding-left: 20px;
}

.table tr:hover {
    background-color: #f9fafb;
}

.action-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.edit-button, .delete-button{
    border: none;
    background-color: white;
    font-size: 20px;
    padding: 10px;
}

.detail-button{
    color: #667085;
    font-size: 12px;
    border: 2px solid #D0D5DD;
    border-radius: 8px;
    width: 60px;
    height: 25px;
}

.edit-button{
    color: #B6BB79;
}

.delete-button{
    color: #F297A0;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.no-data{
    color: #667085;
    text-align: center;
    padding: 20px;
}

@media (max-width:  768px) {
    .table-search{
        min-width: 50px;  
        max-width: 150px;   
    }

    .table-button {
        max-width: 150px;
    }


}

@media (max-width: 480px) {
    .table-search{
        min-width: 45px;   
    }

    .table-button {
        max-width: 45px;  
        padding: 10px; 
        cursor: pointer;
    }

    .table-button span{
        display: none;
    }
}