<form method="POST" class="form-box"
    {% if is_edit %}
        action="{% url 'edit_item' model_name object.id %}"
    {% else %}
        action="{% url 'add_item' model_name %}"
    {% endif %}
>
    {% csrf_token %}

    <div class="form-group">
        {{ form.name.label_tag }}
        {{ form.name }}
    </div>
    
    <button type="submit" class="save-btn">
        {% if is_edit %}
            Save Changes
        {% else %}
            Add New Catagory
        {% endif %}
    </button>
</form>