<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Nav</title>
    <link rel="stylesheet" href="nav.css">
    <link href="https://cdn.lineicons.com/5.1/line/lineicons.css" rel="stylesheet"/>
</head>
<body>
    <nav class="sidebar">
        <ul>
            <li class="no-hover">
                <a class="logo">
                    <img src="image\logo.png" alt="Logo">
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="cart"></ion-icon></span>
                    <span class="text">Product</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="people"></ion-icon></span>
                    <span class="text">Supplier</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="checkbox-outline"></ion-icon></span>
                    <span class="text">Category</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="cube"></ion-icon></span>
                    <span class="text">Warehouse</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="compass"></ion-icon></span>
                    <span class="text">Location</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="lni lni-ambulance-1"></i></span>
                    <span class="text">Purchase Order</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="lni lni-basket-shopping-3"></i></span>
                    <span class="text">Sales Order</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="person-add"></ion-icon></span>
                    <span class="text">Employee</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="lni lni-dollar-circle"></i></span>
                    <span class="text">Payment</span>
                </a>
            </li>
            <li class="profile no-hover">
                <div class="profile-box">
                    <span class="icon">
                        <ion-icon name="contact"></ion-icon>
                    </span>
                    <div class="user">
                        <span class="name">name</span>
                        <span class="role">role</span>
                    </div>
                    <a href="#" class="logout">
                        <ion-icon name="log-out"></ion-icon>
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>